* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.main_div {
    width: 100%;
    height: 100vh;
    background-color: rgb(71, 204, 197);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_div {
    width: 25%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

h1 {
    color: rgb(39, 116, 231);
    background: transparent;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #2c4feb;
    outline: none;
}

button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgb(50, 111, 224);
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: teal;
}

ol {
    margin-top: 30px;
}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-width: 40px;
    display: flex;
    align-items: center;
    color: rgb(63, 61, 230);
    text-transform: capitalize;
}

.todo_style {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .fa-times {
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 111, 224);
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
